TOKEN=
PERSONAL_DEV_CHANNEL=
WEBHOOK_GRAVEYARD=
CHIKBOT_ID=
CHIKEN_TENDERS_GUILD=
MODERATOR_CHANNEL=
GM_CHANNEL=

ACHIEVEMENTS_WEBHOOK=
ACHIEVEMENTS_CHANNEL=
ACHIEVEMENTS_WEBHOOK_FWD=

BOSSING_WEBHOOK=
BOSSING_CHANNEL=
BOSSING_WEBHOOK_FWD=

DED_WEBHOOK=
DED_CHANNEL=
DED_WEBHOOK_FWD=

LEVELS_WEBHOOK=
LEVELS_CHANNEL=
LEVELS_WEBHOOK_FWD=

PETS_WEBHOOK=
PETS_CHANNEL=
PETS_WEBHOOK_FWD=

LOOT_WEBHOOK=
LOOT_CHANNEL=
LOOT_WEBHOOK_FWD=

WOM_ENDPOINT=
WOM_GROUPID=
WOM_GROUP_VERIFICATION_CODE=
WOM_USER_AGENT=
