TOKEN=

# Chiken Tenders Guild ID
CHIKEN_TENDERS_GUILD=

# Chikbot ID / webhook_id
CHIKBOT_ID=

# Dink channels
ACHIEVEMENTS_CHANNEL=
BOSSING_CHANNEL=
DED_CHANNEL=
LEVELS_CHANNEL=
PETS_CHANNEL=
LOOT_CHANNEL=

# Dink Webhooks
ACHIEVEMENTS_WEBHOOK=
BOSSING_WEBHOOK=
DED_WEBHOOK=
LEVELS_WEBHOOK=
PETS_WEBHOOK=
LOOT_WEBHOOK=

# Dink FWD Webhooks - Send to user facing logging channels
ACHIEVEMENTS_WEBHOOK_FWD=
BOSSING_WEBHOOK_FWD=
DED_WEBHOOK_FWD=
LEVELS_WEBHOOK_FWD=
PETS_WEBHOOK_FWD=
LOOT_WEBHOOK_FWD=

PERSONAL_DEV_CHANNEL=
MODERATOR_CHANNEL=
WEBHOOK_GRAVEYARD=
GM_CHANNEL=

WOM_USER_AGENT=
WOM_GROUPID=
WOM_GROUP_VERIFICATION_CODE=
WOM_ENDPOINT='https://api.wiseoldman.net/v2/groups'
WOM_API_BASE='https://api.wiseoldman.net/v2'

# Competition automation (Phase 2+)
ANNOUNCEMENTS_CHANNEL=
SOTW_WINNER_ROLE=
BOTW_WINNER_ROLE=
COMPETITION_WINNER_ROLE=
